<div class="card mt-5 mb-5 pb-5">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (15,256)</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0 mt-3 mb-3"> John Doe</h6>
      <small class="text-danger mt-3 mb-3">LAST UPDATED - SEP 20, 21</small>
      <div>He made his comments at a news conference in Amsterdam</div>
      <a class="mt-1 " href="#">Reply</a>
      <a class="mt-1 ml-2" href="#">View Reply</a>
      <hr>
    </div>
    <div class="comment-box mt-3">
        <h6 class="mb-0 mt-3 mb-3"> John Doe</h6>
        <small class="text-danger mt-3 mb-3">LAST UPDATED - SEP 20, 21</small>
        <div>He made his comments at a news conference in Amsterdam</div>
        <a class="mt-1 " href="#">Reply</a>
        <a class="mt-1 ml-2" href="#">View Reply</a>
        <hr>
      </div>
      <div class="comment-box mt-3">
        <h6 class="mb-0 mt-3 mb-3"> John Doe</h6>
        <small class="text-danger mt-3 mb-3">LAST UPDATED - SEP 20, 21</small>
        <div>He made his comments at a news conference in Amsterdam</div>
        <a class="mt-1 " href="#">Reply</a>
        <a class="mt-1 ml-2" href="#">View Reply</a>
        <hr>
      </div>
      <div class="comment-box mt-3">
        <h6 class="mb-0 mt-3 mb-3"> John Doe</h6>
        <small class="text-danger mt-3 mb-3">LAST UPDATED - SEP 20, 21</small>
        <div>He made his comments at a news conference in Amsterdam</div>
        <a class="mt-1 " href="#">Reply</a>
        <a class="mt-1 ml-2" href="#">View Reply</a>
        <hr>
      </div>
  </div>
</div>
