<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-3"><a href="/" class="nav-link">DESIGN</a></li>
                <li class="nav-item ml-3"><a href="/" class="nav-link">INSPIRATION</a></li>
                <li class="nav-item ml-3"><a href="/" class="nav-link">SPORTS</a></li>
                <li class="nav-item ml-3"><a href="/" class="nav-link">POLITICS</a></li>
                <li class="nav-item ml-3"><a href="/" class="nav-link">FASHION</a></li>
                <li class="nav-item ml-3"><a href="/" class="nav-link">GENERAL KNOWLEDGE</a></li>
                <li class="nav-item ml-3"><a href="/" class="nav-link">GRAPHICS</a></li>
            </ul>
        </div>
    </div>
</nav>
