<footer>
    <div class="container">
        <div class="row">
           <div class="col-md-12 text-center">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="/" class="nav-link">DESIGN</a></li>
                <li class="nav-item"><a href="/" class="nav-link">INSPIRATION</a></li>
                <li class="nav-item"><a href="/" class="nav-link">SPORTS</a></li>
                <li class="nav-item"><a href="/" class="nav-link">POLITICS</a></li>
            </ul>
            <p>Copyright &copy; 2024 Angular Blogsite</p>
           </div>
           

        </div>
    </div>
</footer>