@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root{
    --primary-color: #026467;
    --secondary-color: #e5f5e5;
    --body-text-color: #596392;
    --navbar-footer-color: #f9f9f9;
}
body{
    color: var(--body-text-color);
    font-size: 12px;
    font-family: 'Roboto';
}


